body {
  height: 100vh;
  background-color: #a9d4a7;
}

header {
  height: 20vh;
  display: grid;
  place-items: center; /* 居中排列元素 */
  background-color: #a9d4a7;
}

H2 {
  background-color: rgb(247, 208, 137);
  color: #585747;
  text-align: bottom;
  margin: 5px;
}

.function-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-weight: bold;
  font-size: 28px;
}

.function-btn,.reset-btn,.share-btn,.setHost-btn,.cashout-btn {
  width: 16vw;
  height: 16vw;
  flex: 1;
  padding: 10px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  cursor: pointer;
  text-align: bottom;
  border-radius: 5px;
}

main {
  height: 40vh;
  padding: 60px;
}

footer {
  height: 8.5vh;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}

.skip-btn{
    width: 33vw;
    height: 33vw;
    border-radius: 5%;
    margin: 5px;
    font-size: 50px;
}



.page-btn{
    width: 50vw;
    height: 7.4vh;
    background-color: rgb(255, 255, 255);
}

  /* Additional styles for the buttons */
  .function-btn-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .page-btn {
    margin: 5 5px;
  }

  .popup-screen {
    width: 800px;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5%;
    position: fixed;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border: 1px solid grey;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
  }
  
  .popup-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .popup-input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .popup-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
  }
  .innerHTML{
    font-size: 80px;
  }

  .players-list-container {
    overflow: auto;
    max-height: 200px;
  }
  
  .players-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .players-list li {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 40px;
  }
  
  .players-list li:hover {
    background-color: lightgray;
  }

  .player-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .cards-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    position: relative; /* Add this line */
  }
  
  .card {
    width: 220px;
    height: 220px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .player-name {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
  }
  
  .balance {
    margin: 5px 0;
  }
  
  .is-host {
    margin: 0;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  #flow-button {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
